.info_horloge {
  font-size: 150%;
  text-align: center;
}

.heure_actuelle {
  font-size: 200%;
}

.date_actuelle {
  font-size: 160%;
}

.preference_horloge {
}

.horloge_info_diverse {
}

.navigation_generale {
}

.aller_a_horloge {
}

.aller_a_chrono {
}

.aller_a_minuteur {
}

.aller_a_anniv {
}
